<div>
    <div>
        <h2>Student details</h2>
        <dl class="dl-horizontal">
            <dt>First Name</dt>
            <dd>{{student.firstName}}</dd>
            <dt>Last Name</dt>
            <dd>{{student.lastName}}</dd>
            <dt>Created Date</dt>
            <dd>{{student.createdDate | date:'medium'}}</dd>

        </dl>
        <div class="btn-toolbar">
            <a class="btn btn-primary" uiSref="students">Go Back to List</a>
            <a class="btn btn-default" uiSref="editstudent" [uiParams]="{studentId: student.id}">Edit</a>
            <a class="btn btn-default" (click)="deleteStudent()">Delete</a>
        </div>
    </div>
</div>
