<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-6">{{student.createdDate | date:'medium'}}</div>
    <div class="col-md-2 col-sm-4 col-xs-6">{{student.firstName}}</div>
    <div class="col-md-2 col-sm-4 col-xs-6">{{student.lastName}}</div>
    <div class="col-md-4 col-sm-12 col-xs-6">
        <div class="btn-toolbar">
            <button uiSref="viewstudent" [uiParams]="{studentId: student.id}" [disabled]="isInEdit" class="btn btn-default">View</button>
            <button uiSref="editstudent" [uiParams]="{studentId: student.id}" [disabled]="isInEdit" class="btn btn-default">Edit</button>
            <button (click)="deleteStudent()" [disabled]="isInEdit" class="btn btn-default">Delete</button>
         </div>
    </div>

</div>