﻿<!-- /Views/Home/NgApp.cshtml -->
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   
</head>
<body>
    <app-root>Loading...</app-root>
    <script type="text/javascript" src="~/Scripts/NgApp/angular-inchols-test/runtime.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/angular-inchols-test/polyfills.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/angular-inchols-test/styles.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/angular-inchols-test/vendor.js"></script>
    <script type="text/javascript" src="~/Scripts/NgApp/angular-inchols-test/main.js"></script>
    
</body>
</html>