<div class="container">
    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <h2>Log In</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            
            <div class="form-group">
                <label for="username">Username:</label>
                <input class="form-control" formControlName="username" [(ngModel)]="credentials.username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>

           
            <div class="form-group">
                <label for="password">Password:</label>
                <input class="form-control" type="password" formControlName="password" [(ngModel)]="credentials.password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>

            <div [hidden]="!errorMessage" class="well error">{{ errorMessage }}</div>
            <div class="btn-toolbar">
                <button class="btn btn-primary" [disabled]="submitting || (submitted && loginForm.invalid)">
                    <i class="fa fa-spin fa-spinner" *ngIf="submitting"></i> <span>Log in</span>
                </button>
                <a uiSref="home" class="btn btn-default">Cancel</a>
           </div>
            </form>
</div>
</div>