<!--The content below is only a placeholder and can be replaced.-->
<app-alert></app-alert>
<div class="container">
    <h1>
        Welcome to {{ title }}!
    </h1>
    <button *ngIf="isLogedIn" (click)="logout()">Log out</button>
    <button *ngIf="!isLogedIn" uiSref="login">Log in</button>
    <button *ngIf="!isLogedIn" uiSref="register">Register</button>

    <ui-view></ui-view>

</div>