<div class="messagecontainer">
    <div *ngFor="let alert of alerts" class="floatingmessage" [ngClass]="{ 'alert': alert, 'alert-success': alert.alertType === 0, 'alert-danger': alert.alertType === 1, 'alert-onfo': alert.alertType === 2 }">
        <div>{{(alert.message) ? alert.message : alert}}</div>
        <ul *ngIf="alert.alertType === 1">
            <li *ngFor="let validation of alert.fieldValidationMessages">{{validation}}</li>
        </ul>
    </div>
</div>