<div>
    <div class="btn-toolbar">
         <button [disabled]="isInEdit" uiSref="newstudent" class="btn btn-primary pull-right">Add a student</button>

    </div>
    </div>
    <div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-6">Created Date</div>
            <div class="col-md-2 col-sm-4 col-xs-6">First Name</div>
            <div class="col-md-2 col-sm-4 col-xs-6">Last Name</div>
            <div class="col-md-4 col-sm-0 col-xs-6"></div>
     </div>

        <app-student-list-item *ngFor="let student of this.students" [student]=student></app-student-list-item>
    </div>

