<div>
    <div>
        <h2 ng-bind="title"></h2>
             <form [formGroup]="editStudentForm" (ngSubmit)="onSubmit()">
                 <div class="form-group">
                     <label for="firstName">First Name</label>
                     <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
                     <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                         <div *ngIf="f.firstName.errors.required">First Name is required</div>
                     </div>
                 </div>

                 <div class="form-group">
                     <label for="lastName">Last Name</label>
                     <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
                     <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                         <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                     </div>
                 </div>
                 <div class="btn-toolbar">
                     <button class="btn btn-primary" [disabled]="submitting || (submitted && editStudentForm.invalid)">
                         <i class="fa fa-spin fa-spinner" *ngIf="submitting"></i> <span>Save</span>
                     </button>
                     <a (click)="cancelEdit()" class="btn btn-default">Cancel</a>
                 </div>
                       
                </form>
            </div>
    </div>
